
<h1>DataScienceEcosystem</>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   List popular languages for Data Science
*   List commonly used libraries used by Data Scientists
*   List Data Science Tools
*   Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|Apachi Spark|
|TensorFlow|
|IBM SPSS|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</>

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [3]:
200//60

3

<h2>Author</h>

Andrey